TELEGRAM_BOT_TOKEN=...

# --- GigaChat auth ---
# Вариант A (рекомендуется): Authorization key (base64 от ClientID:ClientSecret)
# Обычно в личном кабинете Сбера/проекте можно сгенерировать "ключ авторизации".
GIGACHAT_CREDENTIALS=...


# (опционально) base_url (по умолчанию SDK знает стандартный)
GIGACHAT_BASE_URL=https://gigachat.devices.sberbank.ru/


REDIS_URL=redis://localhost:6379/0

GOOGLE_SA_JSON=/absolute/path/to/service_account.json